:root {
  --background-color: #84a178;
  --first-text-color: #fcfcfc;
  --second-text-color: #131313;
  --white: #ffffff;
  --yellow: #f8d24e;
  --green: #0a8817;
  --lite-yellow: #efd478;
  --lite-green: #aec6a5;
  --lite-orange: #d6936d;
}
