h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-text-color);
  background-color: #84a178;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  cursor: url(../images/icons/vector.png) 1 5, auto;
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    overflow-x: hidden;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
