:root {
--background-color: #84A178;
--first-text-color: #FCFCFC;
--second-text-color: #131313;
--white: #ffffff;
--yellow: #F8D24E;
--green: #0A8817;
--lite-yellow: #EFD478;
--lite-green: #AEC6A5;
--lite-orange: #D6936D;
}


