<div class="advant__container container">
  <h2 class="hidden">Advantages</h2>

  <ul class="advant list">
    <li class="advant-uhdertitle">
      <div class="advant__iconbox">
        <svg class="advant__icon" width="36" height="36">
          <use href="./images/icons/icons.svg#cow"></use>
        </svg>
      </div>
      <h3 class="advant__title">721</h3>
      <p class="advant__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advant-uhdertitle">
      <div class="advant__iconbox">
        <svg class="advant__icon" width="36" height="36">
          <use href="./images/icons/icons.svg#weight"></use>
        </svg>
      </div>
      <h3 class="advant__title">16kg</h3>
      <p class="advant__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advant-uhdertitle">
      <div class="advant__iconbox">
        <svg class="advant__icon" width="36" height="36">
          <use href="./images/icons/icons.svg#ice-crema"></use>
        </svg>
      </div>

      <h3 class="advant__title">84</h3>
      <p class="advant__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</div>
