<div class="container">
    <h2 class="hidden">Advantages</h2>

    <ul class="advant list">
        <li class="advant-uhdertitle">
            <svg class="advant__icon" width="50" height="50">
                <use href="../images/icons/icons.svg#cow"></use>
            </svg>
            <h3 class="advant__title">721</h3>
            <p class="advant__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advant-uhdertitle ">
            <svg class="advant__icon" width="50" height="50">
                <use href="../images/icons/icons.svg#weight"></use>
            </svg>
            <h3 class="advant__title">16 kg</h3>
            <p class="advant__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advant-uhdertitle">
            <svg class="advant__icon" width="50" height="50">
                <use href="../images/icons/icons.svg#ice-crema"></use>
            </svg>
            <h3 class="advant__title">84</h3>
            <p class="advant__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>
</div>