<div class="backdrop is-hidden" data-modal id="modal-buy">
  <div class="modal modal-buy__window">
    <button type="button" class="modal__close" data-modal-close>
      <svg class="close-logo" width="20" height="20">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal__title">Buy now</h2>

    <form name="modal-buy" class="modal-buy__form">
      <div class="modal-buy__products">
        <label for="icecream" class="modal-buy__label">
          <input
            type="checkbox"
            id="icecream"
            value="agree"
            name="icecream"
            class="modal-buy__checkbox"
          />

          <span class="modal-buy__item">
            <span class="modal-buy__ellipse"> </span>
            <span class="modal-buy__png">
              <img
                srcset="
                  ./images/products/img1-mob200.png    132w,
                  ./images/products/img1-mob200@2x.png 264w
                "
                src="./images/products/img1-mob200.png"
                sizes="100vw"
                alt="icecream"
                width="132"
              />
            </span>
            <span class="modal-buy__product">ICE CREAM</span>
          </span>
        </label>
        <label for="icecoffee" class="modal-buy__label">
          <input
            type="checkbox"
            id="icecoffee"
            value="agree"
            name="icecoffee"
            class="modal-buy__checkbox"
          />

          <span class="modal-buy__item modal-buy__item--coffee">
            <span class="modal-buy__ellipse modal-buy__ellipse--coffee"> </span>
            <span class="modal-buy__png">
              <img
                srcset="
                  ./images/products/img2-mob200.png    132w,
                  ./images/products/img2-mob200@2x.png 264w
                "
                src="./images/products/img1-mob200.png"
                sizes="100vw"
                alt="icekoffee"
                width="132"
              />
            </span>
            <span class="modal-buy__product">ICE COFFEE</span>
          </span>
        </label>
        <label for="milkshake" class="modal-buy__label">
          <input
            type="checkbox"
            id="milkshake"
            value="agree"
            name="milkshake"
            class="modal-buy__checkbox"
          />

          <span class="modal-buy__item modal-buy__item--milkshake">
            <span class="modal-buy__ellipse modal-buy__ellipse--milkshake">
            </span>
            <span class="modal-buy__png">
              <img
                srcset="
                  ./images/products/img3-mob200.png    132w,
                  ./images/products/img3-mob200@2x.png 264w
                "
                src="./images/products/img3-mob200.png"
                sizes="100vw"
                alt="milkshake"
                width="132"
              />
            </span>
            <span class="modal-buy__product">MILKSHAKE</span>
          </span>
        </label>
      </div>
      <div class="modal-buy__userarea">
        <label for="user-name" class="modal-buy__about">
          <input
            name="user-name"
            id="user-name"
            type="text"
            placeholder="Name"
            class="modal-buy__input"
            title="Enter your name"
            pattern="[A-Za-z]+"
            required
          />
        </label>
        <label for="user-tel" class="modal-buy__about">
          <input
            name="user-tel"
            id="user-tel"
            type="tel"
            placeholder="Phone"
            class="modal-buy__input"
            title="for example: 0961234567"
            required
            pattern="[0-9]{10}"
          />
        </label>
        <label for="coment" class="modal-buy__about">
          <textarea
            name="coment"
            id="coment"
            cols="30"
            rows="10"
            class="modal-buy__input modal-buy__input--comment"
            placeholder="Comment"
            minlength="12"
          ></textarea>
        </label>
      </div>
      <button type="submit" class="button order-button">Submit</button>
    </form>
  </div>
</div>
