<section class="contacts" id="contacts">
  <div class="container">
    <h3 class="hidden">Contacts</h3>
    <div class="contacts-possition">
      <ul class="contacts__list contacts-offset">
        <li class="contacts__item">
          <p class="contacts__title">CAFE</p>
          <ul class="contacts-card__list">
            <li class="contacts-card__item contacts-card__border">
              <p class="contacts-card__title">Chicago</p>
              <address>
                <a
                  class="address__text"
                  href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@41.7034016,-87.7797405,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
                  target="_blank"
                  rel="noopener noreferrer"
                  >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
                >
              </address>
            </li>
            <li class="contacts-card__item contacts-card__border">
              <p class="contacts-card__text">Monday - Friday</p>
              <p class="contacts-card__text">06:00 AM - 10:00 PM</p>
              <p class="contacts-card__text">Saturday - Sunday</p>
              <p class="contacts-card__text">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts-card__item">
              <a class="contacts-card__link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
              <a class="contacts-card__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <p class="contacts__title">FOODTRUCK</p>
          <ul class="contacts-card__list">
            <li class="contacts-card__item contacts-card__border">
              <p class="contacts-card__title">Los Angeles</p>
              <address>
                <a
                  class="address__text"
                  href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@33.8835263,-118.4103286,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
                  target="_blank"
                  rel="noopener noreferrer"
                  >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
                >
              </address>
            </li>
            <li class="contacts-card__item contacts-card__border">
              <p class="contacts-card__text">Monday - Friday</p>
              <p class="contacts-card__text">06:00 AM - 10:00 PM</p>
              <p class="contacts-card__text">Saturday - Sunday</p>
              <p class="contacts-card__text">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts-card__item">
              <a class="contacts-card__link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
              <a class="contacts-card__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <p class="contacts__title">CAFE</p>
          <ul class="contacts-card__list">
            <li class="contacts-card__item contacts-card__border">
              <p class="contacts-card__title">New York</p>
              <address>
                <a
                  class="address__text"
                  href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.6726938,-73.954734,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
                  target="_blank"
                  rel="noopener noreferrer"
                  >726 Sterling Pl, Brooklyn, NY 11222, USA</a
                >
              </address>
            </li>
            <li class="contacts-card__item contacts-card__border">
              <p class="contacts-card__text">Monday - Friday</p>
              <p class="contacts-card__text">06:00 AM - 10:00 PM</p>
              <p class="contacts-card__text">Saturday - Sunday</p>
              <p class="contacts-card__text">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts-card__item">
              <a class="contacts-card__link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
              <a class="contacts-card__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="contacts-btn__list">
        <li>
          <button
            class="contacts__btn contacts__btn-location js-open-modal"
            data-modal="4"
          >
            Our Locations
            <svg class="contacts__btn-icon">
              <use href="./images/icons/icons.svg#vector"></use>
            </svg>
          </button>
        </li>
        <li>
          <button
            class="contacts__btn contacts__btn-franchise js-open-modal"
            data-modal="5"
          >
            Franchise
            <svg class="contacts__btn-icon">
              <use href="./images/icons/icons.svg#vector"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
