<footer class="section footer">
  <div class="container footer__container">
    <div class="footer__title">
      <p class="footer__title--first-part">homemade ice cream made</p>
      <p class="footer__title--second-part">with passion</p>
    </div>

    <div class="footer__contack-blok">
      <ul class="social-network">
        <li class="social-network__item">
          <a class="social-network__link" href="https://github.com">
            <svg class="social-network__icon" width="20" height="20">
              <use href="./images/icons/icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social-network__item">
          <a class="social-network__link" href="https://web.telegram.org/">
            <svg
              class="social-network__icon social-network__icon--tel"
              width="20"
              height="20"
            >
              <use href="./images/icons/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-network__item">
          <a class="social-network__link" href="https://m.facebook.com/">
            <svg class="social-network__icon" width="20" height="20">
              <use href="./images/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="contact__text">
        Feel free to contact<a class="contact__link" href="tel:+610383766284"
          >&nbsp;+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>

  <!-- <div class="decor-line"></div> -->
  <div class="contact__copyright-blok">
    <p class="contact__copyright">
      &copy; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
