<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="backdrop is-hidden" data-modal>
      <div class="franchise-modal">
        <button class="franchise-modal__button button" data-modal-close>
          <svg class="close-icon" width="20" height="20">
            <use href="./images/icons.svg#close"></use>
          </svg>
        </button>
        <h3 class="franchise-modal__title">
          Thank you for your interest in owning an Ice Cream shop
        </h3>
        <p class="franchise-modal__text">
          Due to the overwhelming volume of franchise requests we are not
          accepting new franchisee applications at this time. Once the
          application process resumes, we will contact you for further
          information. Please fill out the contact information below and we will
          reach out for additional information. We appreciate your patience.
        </p>
        <form
          name="franchise-modal__form franchise__form"
          class="franchise-modal__form"
        >
          <label for="name" name="name-user" class="modal-form-label"
            >Ім'я</label
          >
          <div class="modal-form-div">
            <input type="text" name="name" id="name" class="modal-form-input" />
          </div>
          <label for="tel" name="tel-user" class="modal-form-label"
            >Телефон</label
          >
          <div class="modal-form-div">
            <input type="tel" name="tel" id="tel" class="modal-form-input" />
          </div>
          <label for="mail" name="mail-user" class="modal-form-label"
            >Пошта</label
          >
          <div class="modal-form-div">
            <input
              type="email"
              name="mail"
              id="mail"
              class="modal-form-input"
            />
          </div>
          <label for="comment" name="comment-user" class="modal-form-label"
            >Коментар</label
          >
          <div class="modal-form-div">
            <textarea
              name="comment"
              id="comment"
              rows="6"
              class="modal-form-input textarea"
              placeholder="Введіть текст"
            ></textarea>
          </div>
          <button type="submit" class="franchise__button button">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
