<section class="gallery">
  <h2 class="hidden">Gallery</h2>
  <div class="gallery__container container">
    <div class="gallery__wraper">
      <img
        class="gallery__img"
        srcset="
          ./images/gallery/ice_cream_1@1x.webp 1x,
          ./images/gallery/ice_cream_1@2x.webp 2x
        "
        src="./images/gallery/ice_cream_1@1x.jpg"
        alt="fruit ice cream in a waffle cup"
        loading="lazy"
        width="280"
        height="130"
      />
      <img
        class="gallery__img"
        srcset="
          ./images/gallery/ice_cream_2@1x.webp 1x,
          ./images/gallery/ice_cream_2@2x.webp 2x
        "
        src="./images/gallery/ice_cream_2@1x.jpg"
        alt="ice cream for every taste and color"
        loading="lazy"
        width="280"
        height="130"
      />
      <img
        class="gallery__img"
        srcset="
          ./images/gallery/ice_cream_3@1x.webp 1x,
          ./images/gallery/ice_cream_3@2x.webp 2x
        "
        src="./images/gallery/ice_cream_3@1x.jpg"
        alt="frozen fruit juice on a stick"
        loading="lazy"
        width="280"
        height="130"
      />
    </div>
  </div>
</section>
