<section class="gallery">
  <div class="gallery__container container">
    <div class="gallery__wraper">
      <img
        class="gallery__item"
        srcset="
          ./images/gallery/ice_cream_1@1x.jpg,
          ./images/gallery/ice_cream_1@2x.jpg
        "
        src="./images/gallery/ice_cream_1@1x.jpg"
        loading="lazy"
        width="280"
        height="130"
      />

      <img
        class="gallery__item"
        srcset="
          ./images/gallery/ice_cream_2@1x.jpg,
          ./images/gallery/ice_cream_2@2x.jpg
        "
        src="./images/gallery/ice_cream_2@1x.jpg"
        loading="lazy"
        width="280"
        height="130"
      />

      <img
        class="gallery__item"
        srcset="
          ./images/gallery/ice_cream_3@1x.jpg,
          ./images/gallery/ice_cream_3@2x.jpg
        "
        src="./images/gallery/ice_cream_3@1x.jpg"
        loading="lazy"
        width="280"
        height="130"
      />
    </div>
  </div>
</section>
