<section class="gallery">
  <div class="gallery__container container">
    <div class="gallery__wraper">
      <img
        class="gallery__item"
        srcset="
          ./images/gallery/ice_cream_1@1x.webp,
          ./images/gallery/ice_cream_1@2x.webp
        "
        src="./images/gallery/ice_cream_1@1x.webp"
        alt="fruit ice cream in a waffle cup"

        loading="lazy"
        width="280"
        height="130"
      />

      <img
        class="gallery__item"
        srcset="
          ./images/gallery/ice_cream_2@1x.webp,
          ./images/gallery/ice_cream_2@2x.webp
        "
        src="./images/gallery/ice_cream_2@1x.webp"
        alt="ice cream for every taste and color"

        loading="lazy"
        width="280"
        height="130"
      />

      <img
        class="gallery__item"
        srcset="

          ./images/gallery/ice_cream_3@1x.webp,
          ./images/gallery/ice_cream_3@2x.webp
        "
        src="./images/gallery/ice_cream_3@1x.webp"
        alt="frozen fruit juice on a stick"

        loading="lazy"
        width="280"
        height="130"
      />
    </div>
  </div>
</section>
