<header class="page-header" id="home">
  <div class="page-header__content container">
    <a href="./index.html" class="page-header__link">
      <img
        class="page-header__logo"
        srcset="
          ./images/icons/header/site-logo40@1x.png  40w,
          ./images/icons/header/site-logo40@2x.png  80w,
          ./images/icons/header/site-logo48@1x.png  48w,
          ./images/icons/header/site-logo48@2x.png  96w,
          ./images/icons/header/site-logo60@1x.png  60w,
          ./images/icons/header/site-logo60@2x.png 120w
        "
        sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 320px) 40px, 100vw"
        src="./images/icons/header/site-logo40@1x.png"
        alt="Site logo"
        loading="lazy"
      />
    </a>
    <nav class="desktop-nav">
      <ul class="desktop-nav__list">
        <li class="desktop-nav__item">
          <a class="desktop-nav__link" href="#home">Home</a>
        </li>
        <li class="desktop-nav__item">
          <a class="desktop-nav__link" href="#about">How it's made?</a>
        </li>
        <li class="desktop-nav__item">
          <a class="desktop-nav__link" href="#products">Our products</a>
        </li>
        <li class="desktop-nav__item">
          <a class="desktop-nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="Menu"
    >
      <svg class="menu-toggle__icon-menu" width="32px" height="32px">
        <use href="./images/icons/icons.svg#menu"></use>
      </svg>
    </button>
    <button
      class="page-header__button"
      type="button"
      aria-label="Buy"
      data-modal-open-buy-now
    >
      <span>Buy now</span>
      <svg class="page-header__button-icon" width="12px" height="12px">
        <use href="./images/icons/icons.svg#vector"></use>
      </svg>
    </button>
  </div>
</header>
