<section class="section">
  <div class="container hero">
    
<!-- Title block -->

<div class="hero__data">
  <p class="hero__title">ice cream
  made with
    <span class="hero__title--mix">passion</span> </p>

  <ul class="hero__list">
    <li class="hero__item">
      <p class="hero__item__number">16</p>
      <p class="hero__item__name">cafes</p>
    </li>
    <li class="hero__item">
      <p class="hero__item__number">23</p>
      <p class="hero__item__name">food trucks</p>
    </li>
  </ul>
</div>

<!-- Send button block -->

<div class="hero__order">
  
  <a class="hero__button" href="index.html#">Products
  </a>

  <a class="hero__link" href="index.html#">How it’s made?
  </a>
</div>

<!-- Arrow block -->

<div class="hero__description">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
  <!-- <svg class="hero__arrow" width="" height="">
    <use href=""></use>
  </svg> -->
</div>

<div class="hero__image">

</div>

  </div>
</section>
