<!-- <div class="hello container">
  <p class="ex">HO! HO! HO! Mery Christmas!!!</p>
  <img class="santa" src="./images/santa.webp" alt="santa" width="300" />
  <img class="train" src="./images/train.webp" alt="train" width="80%" />
</div> -->
<section class="hero">
  <div class="hero__section">
    <h1 class="hero__title">ice cream made with passion</h1>

    <div class="hero__info">
      <ul class="list__info">
        <li class="list__txt">
          <span class="list__number">16</span>
          cafe
        </li>
        <li class="list__txt">
          <span class="list__number">23</span>
          food truck
        </li>
      </ul>
    </div>
  </div>

  <div class="hero__btn">
    <button class="btn__products" type="button" id="products">Products</button>
    <button class="btn__link" type="button" id="How it’s made?">
      How it’s made?
    </button>
  </div>

  <div class="hero__wrap">
    <img
      class="hero__icecream"
      src="./images/hero/platetablet.png"
      alt="plate of ice-cream"
    />
    <div class="hero__text">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <svg class="text__arrow" width="40px" height="0px">
        <use href="./images/icons/icons.svg#arrow"></use>
      </svg>
    </div>
    <img
      class="hero__shark"
      src="./images/hero/shark.png"
      alt="shark with ice-cream"
    />
  </div>
</section>
