<!-- <div class="overlay js-overlay-modal">
  <div class="modal location-modal" data-modal="4">
    <button
      class="location-modal__button modal__close-button button js-modal-close"
    >
      <svg class="close-icon" width="20" height="20">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
    <h3 class="location-modal__title modal__title">Our Locations</h3>
    <iframe
      class="location__div"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20312.807251690723!2d30.476758157177734!3d50.476465163051216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cde96c5f81af%3A0x112259d9019b4231!2z0JrQuNGA0LjQu9C70L7QstGB0LrQsNGPINGG0LXRgNC60L7QstGM!5e0!3m2!1sru!2sua!4v1671780240443!5m2!1sru!2sua"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <button type="submit" class="franchise__button modal__button button">
      Open map
    </button>
  </div>
</div> -->

<div class="backdrop is-hidden" data-modal id="location-modal">
  <div class="modal">
    <button type="button" class="modal__close location__close" data-modal-close>
      <svg class="modal__icon" width="20" height="20">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
    <h3 class="modal__title location__title">Our Locations</h3>
    <div class="location__wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.0578723322974!2d-73.95473400000002!3d40.672693800000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2slt!4v1672176585874!5m2!1suk!2slt"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="location__map"
      ></iframe>
    </div>
    <form
      action="https://goo.gl/maps/xdVXhJScDsbo2qYx7"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="location__link"
    >
      <button class="form__button button location__btn">Open map</button>
    </form>
  </div>
</div>
