<div class="backdrop is-hidden" data-modal id="about-modal">
  <div class="modal about__modal">
    <button
      type="button"
      id="stop"
      class="about__close-button modal__close"
      data-modal-close
    >
      <svg class="about__close" width="20" height="20">
        <use href="./images/icons/icons.svg#close"></use>
      </svg>
    </button>
    <h3 class="about__title">How it&#39;s made?</h3>
    <div class="about__wrapper">
      <iframe
        src="https://www.youtube.com/embed/8WEMZ86Eho8"
        id="my-video"
        width="448"
        height="260"
        loading="lazy"
        rel="noopener noreferrer nofollow"
        class="about__video"
      ></iframe>
    </div>
    <p class="about__subject">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
