<!-- Slider main container -->
<div class="swiper__section">
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        <div class="swiper-slide">
          <img class="swiper__image"
            srcset="
            ./images/reviews/emily.webp 1x, ./images/reviews/emily@2x.webp 2x"
            src="./images/reviews/emily.jpg" alt="Emily" loading="lazy" width="85" height="85"/>
          <div class="swiper__bg">
            <p class="swiper__reviews">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <p class="swiper__name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img class="swiper__image" srcset="
                    ./images/reviews/bryan.webp 1x, ./images/reviews/bryan@2x.webp 2x" src="./images/reviews/bryan.jpg"
            alt="Emily" loading="lazy" width="85" height="85" />
          <div class="swiper__bg">
            <p class="swiper__reviews">
              Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
            </p>
          </div>
          <p class="swiper__name">Bryan, New-York</p>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper__image"
            srcset="./images/reviews/diana.webp 1x, ./images/reviews/diana@2x.webp 2x"
            src="./images/reviews/diana.jpg"
            alt="Diana"
            loading="lazy" width="85" height="85"/>
          <div class="swiper__bg">
            <p class="swiper__reviews">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <p class="swiper__name">Diana, Chicago</p>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination" aria-label="swiper"></div>

       <!-- If we need navigation buttons -->
    <div class="swiper-button-prev" aria-label="swipe prev"></div>
    <div class="swiper-button-next" aria-label="swipe next"></div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div>
</div> -->
    </div>
  </div>
</div>
