.about {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    margin-bottom: 86px;
  }
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-text-color);

  margin-bottom: 12px;

  // tablet
  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    font-weight: 800;
    font-size: 30px;
  }
}

.about__header {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--first-text-color);
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;

  // tablet

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 454px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    width: 485px;
  }
}

.about__image-container {
  min-height: 278px;
  min-width: 278px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 38px;
    min-height: 330px;
    min-width: 330px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 109px;
    min-height: 490px;
    min-width: 490px;
    margin-bottom: 0;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: -22px;
    width: 278px;
    height: 278px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

    @media screen and (min-width: 768px) {
      top: 72px;
      width: 330px;
      height: 330px;
    }

    @media screen and (min-width: 1200px) {
      top: 59px;
      width: 490px;
      height: 490px;
    }
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: flex;
  }
}

.about__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  // tablet
  @media screen and (min-width: 768px) {
    margin-top: 98px;
    margin-right: 38px;
    margin-bottom: 0;
    margin-left: 0;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    margin-right: 109px;
  }
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 220px;
  gap: 4px;

  // tablet
  @media screen and (min-width: 768px) {
    text-align: left;
    margin-top: 80px;
    width: 334px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    font-size: 12px;
    gap: 8px;
    max-width: 100%;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
    width: 463px;
    margin-top: 133px;
  }
}

.about__paragraph--first,
.about__paragraph--second {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--first-text-color);
}

.about__paragraph--first {
  // desktop
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__paragraph--second {
  line-height: 1.62;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
  }
}

.about__paragraph--third {
  display: none;

  // tablet

  @media screen and (min-width: 768px) {
    display: inline;
    line-height: 1.94;
    width: 300px;
  }

  @media screen and (min-width: 768px) {
    width: 481px;
  }
}

.about__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;

  background-color: var(--yellow);

  padding: 12px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: -7px -7px 20px 0px var(--lite-yellow), -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  }

  // tablet // desktop

  @media screen and (min-width: 768px) {
    margin-top: 28px;
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
}

.button__icon {
  fill: black;
  margin-left: 8px;
}
