.about {
  padding-top: 61px;
  padding-bottom: 64px;
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-text-color);

  margin-bottom: 12px;

  // tablet
  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
}

.about__header {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--first-text-color);

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: flex;
  }
}

.about__image {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: inherit;

  // tablet
  @media screen and (min-width: 768px) {
    margin-right: 38px;
    margin-top: 98px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.about__paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  width: 220px;
  gap: 4px;

  // tablet
  @media screen and (min-width: 768px) {
    display: inline;
    text-align: left;
    margin-top: 80px;
    width: 334px;
    margin-bottom: 0;

    font-size: 12px;
    gap: 8px;
  }
}

about__paragraph--first,
about__paragraph--second {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--first-text-color);
}

.about__paragraph--second {
  line-height: 1.62;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }
}

.about__paragraph--third {
  display: none;

  // tablet

  @media screen and (min-width: 768px) {
    display: inline;
    line-height: 1.94;
  }
}

.about__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;

  background-color: var(--yellow);

  padding: 12px 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin-right: 206px;
  }
}

.button__icon {
  fill: black;
  margin-left: 8px;
}
