.footer__container {
    padding-bottom: 40px;

    @media screen and (min-width: 480px) {
        max-width: 100%;
        height: 130px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        max-width: 100%;
        padding-bottom: 60px;
    }
}

.footer__title--first-part {
    width: 504px;
    margin-bottom: 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    /* цвет добавить переменную var(--)*/
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        width: 320px;
        font-size: 26px;
    }

    @media screen and (min-width: 1200px) {
        width: 474px;
        font-size: 30px;
    }
}

.footer__title--second-part {
    width: 497px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        width: 340px;
    }

    @media screen and (min-width: 1200px) {
        width: 474px;
        font-size: 58px;
    }
}

.footer__contack-blok {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        width: 268px;
        margin-left: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 10px;
    }
}

.social-network {
    gap: 30px;
    list-style: none;
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}

.social-network__item {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition-duration: var(--time-transition);
    transition-timing-function: var(--typical-cubic);

    // &:hover {
    //     background: ;
    // }
    &:not(:last-child) {
        margin-right: 28px;
    }

    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}

.social-network__link {
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    //  :focus {
    //     background-color: var(--);
    // }
}

// .social-network__icon {
//     fill: var(--);
// }
.social-network__icon--tel {
    margin-right: 1px;
}

.contact__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #131313;
    text-align: right;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        width: 474px;
        font-size: 16px;
    }
}

.contact__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: right;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}

.contact__copyright-blok {
    padding-top: 16px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.contact__copyright {
    width: 255px;
    color: #7A7A7A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 276px;
    }
}

.decor-line {
    border-top: 1px solid #E1E1E1;
}