.product-modal {
  text-align: center;
  padding: 26px 20px;
  line-height: 1.76;
  @media screen and (min-width: 768px) {
    padding: 30px 32px;
  }

  &__title {
    font-size: 20px;
  }

  &__img {
    margin: 0 auto 29px;
    width: 132px;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    box-shadow: 0 7px 0 0 rgba(156, 190, 143, 0.7), 0 7px 0 0 #d9d9d9,
      0 16px 20px rgba(10, 136, 23, 0.25);
  }

  &__img--yellow {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.45);
    box-shadow: 0 7px 0 0 rgba(248, 210, 78, 0.7), 0 7px 0 0 #d9d9d9,
      0 16px 20px rgba(153, 114, 23, 0.45);
  }

  &__img--brown {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 6px 20px rgba($third-cards-color, 0.65);
    box-shadow: 0 7px 0 0 rgba(213, 117, 63, 0.7), 0 7px 0 0 #d9d9d9,
      0 16px 20px rgba($third-cards-color, 0.65);
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

.composition {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 40px;
  color: var(--second-text-color);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    gap: 20px;
    margin-bottom: 47px;
  }

  &__item {
    border: 2px solid $decor-elements-color;
    border-radius: 40px;
    width: 53px;
    padding: 0 3px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      width: 65px;
      padding: 0 4px 12px;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: $decor-elements-color;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    @media screen and (min-width: 768px) {
      width: 53px;
      height: 53px;
      margin-bottom: 10px;
    }
  }

  &--yellow {
    .composition {
      &__item {
        border-color: $second-cards-color;
      }

      &__value {
        background-color: $second-cards-color;
        box-shadow: 0px 6px 20px rgba($second-cards-color, 0.65);
      }
    }
  }

  &--brown {
    .composition {
      &__item {
        border-color: $third-cards-color;
      }

      &__value {
        background-color: $third-cards-color;
        box-shadow: 0px 6px 20px rgba($third-cards-color, 0.65);
      }
    }
  }
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  margin-bottom: 39px;
  color: var(--second-text-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }

  &__compound {
    text-align: left;
    width: 60%;
  }

  &__value {
    text-align: right;
    margin-bottom: 12px;
    width: 23%;
    @media screen and (min-width: 768px) {
      width: 31%;
      margin-bottom: 11px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product-form {
  margin-top: 29px;
  @media screen and (min-width: 768px) {
    margin-top: 37px;
  }

  &__input,
  &__coment {
    padding: 11px;
  }

  &__input--yellow,
  &__coment--yellow {
    &:hover,
    &:focus {
      background: rgba(248, 210, 78, 0.3);
    }
  }

  &__input--brown,
  &__coment--brown {
    background: rgba(214, 147, 109, 0.1);
    &:hover,
    &:focus {
      background: rgba(214, 147, 109, 0.3);
    }
  }

  &__button {
    min-width: 132px;
  }
}
