.readmore-modal {
  padding: 28px;

  // max-height: 463px;

  // @media screen and (max-width: 767px) {
  //   max-width: 300px;
  //   max-height: 674px;
  //   overflow: scroll;
  // }

  @media screen and (min-width: 768px) {
    // max-height: 453px;
    padding: 32px 60px;
  }
}

.readmore-modal__title {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 322px;
    margin-bottom: 32px;
  }
}

.readmore-modal__text,
.modal__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;

  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.readmore__div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;

  @media screen and (min-width: 768px) {
    // height: 205px;
    margin-bottom: 32px;
    width: 100%;
  }
}
